/* Global Styles & Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  background: rgba(11, 14, 20, 0.4) !important;
  backdrop-filter: blur(24px) saturate(180%) contrast(120%) brightness(110%) !important;
  -webkit-backdrop-filter: blur(24px) saturate(180%) contrast(120%)
    brightness(110%) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4) !important;
  transform: translateZ(0) !important;
}
